@model project.Models.Category
    
  <!-- Products tab & slick -->
<div class="col-md-12">
    <div class="row">
        <div class="products-tabs">
            <!-- tab -->
            <div id="tab1" class="tab-pane active">
                <div class="products-slick" data-nav="#slick-nav-1">
                    <!-- product -->
                  
                        @foreach (var Product in Model.Products)
                        {                     
                    <div class="product">
                        <div class="product-img">
                            <img src="~/Content/img/@Product.Picture" alt="">
                            <div class="product-label">
                                <span class="sale">@Product.Discount</span>
                                <span class="new">NEW</span>
                            </div>
                        </div>
                        <div class="product-body">
                            <p class="product-category">@Model.CategoryName</p>
                            <h3 class="product-name"><a href="./Products/displayProduct">@Product.ProductName</a></h3>
                            <h4 class="product-price">@Product.PriceAfterDiscount <del class="product-old-price">@Product.PriceBeforeDiscount</del></h4>
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product-btns">
                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                            </div>
                        </div>
                        <div class="add-to-cart">
                            <a class="add-to-cart-btn btn" href="/Products/AddToCart/@Product.ID?Qunatity=1"><i class="fa fa-shopping-cart"></i> add to cart</a>
                        </div>
                    </div>
                        }
                    
                    <!-- /product -->
                 
                </div>
                <div id="slick-nav-1" class="products-slick-nav"></div>
            </div>
            <!-- /tab -->
        </div>
    </div>
</div>
<!-- Products tab & slick -->
